services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: quizbattle-api
    environment:
      CORS_ALLOW_ORIGINS: "*"
    ports:
      - "8888:8888"
    volumes:
      - ./backend/app:/app/app
      - ./backend/scripts:/app/scripts
    command: uvicorn app.main:socket_app --host 0.0.0.0 --port 8888 --reload
